<footer id="bottom-widgets">
                <div id="bottom-widgets-wrap" class="be-wrap be-row clearfix">
                    <div class="one-fourth column-block clearfix">
                        <div class="widget_text widget">
                            <h6 style="color:#fff;">OSHIN</h6>
                            <div class="textwidget">A Digital Creative agency building next generation products to inspire the world</div>
                        </div>
                    </div>
                    <div class="one-fourth column-block clearfix">
                        <div class="widget_text widget">
                            <h6 style="color:#fff;">CONTACT US</h6>
                            <div class="textwidget">
                                <p>66 Nicholson Street, Buffalo
                                    <br /> New York 14214</p>
                                <p>001-123-456-7890
                                    <br /> info@oshintheme.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="one-fourth column-block clearfix">
                        <div class="widget_text widget">
                            <h6 style="color:#fff;">CONNECT</h6>
                            <div class="textwidget">
                                <div class="icon-shortcode align-none"><a href="#" class="icon-shortcode icon-square  " data-animation="fadeIn"><i class="font-icon icon-facebook2 tiny square" style="border-style: solid; border-width: 1px; border-color: #a2a2a2; background-color: inherit; color: #a2a2a2;" data-animation="fadeIn" data-bg-color="inherit" data-hover-bg-color="#ff4d00" data-color="#a2a2a2" data-hover-color="#ffffff" data-border-color="#a2a2a2" data-hover-border-color="#ff4d00"></i></a></div>
                                <div class="icon-shortcode align-none"><a href="#" class="icon-shortcode icon-square  " data-animation="fadeIn"><i class="font-icon icon-twitter2 tiny square" style="border-style: solid; border-width: 1px; border-color: #a2a2a2; background-color: inherit; color: #a2a2a2;" data-animation="fadeIn" data-bg-color="inherit" data-hover-bg-color="#ff4d00" data-color="#a2a2a2" data-hover-color="#ffffff" data-border-color="#a2a2a2" data-hover-border-color="#ff4d00"></i></a></div>
                                <div class="icon-shortcode align-none"><a href="#" class="icon-shortcode icon-square  " data-animation="fadeIn"><i class="font-icon icon-pinterest2 tiny square" style="border-style: solid; border-width: 1px; border-color: #a2a2a2; background-color: inherit; color: #a2a2a2;" data-animation="fadeIn" data-bg-color="inherit" data-hover-bg-color="#ff4d00" data-color="#a2a2a2" data-hover-color="#ffffff" data-border-color="#a2a2a2" data-hover-border-color="#ff4d00"></i></a></div>
                                <div class="icon-shortcode align-none"><a href="#" class="icon-shortcode icon-square  " data-animation="fadeIn"><i class="font-icon icon-behance tiny square" style="border-style: solid; border-width: 1px; border-color: #a2a2a2; background-color: inherit; color: #a2a2a2;" data-animation="fadeIn" data-bg-color="inherit" data-hover-bg-color="#ff4d00" data-color="#a2a2a2" data-hover-color="#ffffff" data-border-color="#a2a2a2" data-hover-border-color="#ff4d00"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="one-fourth column-block clearfix">
                        <div class="widget_nav_menu widget">
                            <h6 style="color:#fff;">LINKS</h6>
                            <div class="menu-widget-area-container">
                                <ul id="menu-widget-area" class="menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2877"><a href="#">Terms and Conditions</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2878"><a href="#">Shipping Information</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2879"><a href="#">Returns and Refunds</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2880"><a href="#">Privacy Policy</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2881"><a href="#">Frequently Asked Questions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </footer>
            <footer id="footer" class="layout-wide">
                <span class="footer-border be-wrap "></span>
                <div id="footer-wrap" class=" style1 be-wrap clearfix">
                    <div class="footer-left-area">
                        <div class="footer-content-inner-left"> Copyright Brand Exponents 2014. All Rights Reserved </div>
                    </div>
                    <div class="footer-center-area"> </div>
                    <div class="footer-right-area">
                        <div class="footer-content-inner-right">
                            <div class="icon-shortcode align-none"><a href="#" class="icon-shortcode icon-circle  " data-animation="fadeIn"><i class="font-icon icon-googleplus tiny circle" style="border-style: solid; border-width: 0px; border-color: #ffffff; background-color: #464646; color: #ffffff;" data-animation="fadeIn" data-bg-color="#464646" data-hover-bg-color="#ff4d00" data-color="#ffffff" data-hover-color="#ffffff" data-border-color="#ffffff" data-hover-border-color="#ff4d00"></i></a></div>
                            <div class="icon-shortcode align-none"><a href="#" class="icon-shortcode icon-circle  " data-animation="fadeIn"><i class="font-icon icon-social_facebook tiny circle" style="border-style: solid; border-width: 0px; border-color: #ffffff; background-color: #464646; color: #ffffff;" data-animation="fadeIn" data-bg-color="#464646" data-hover-bg-color="#ff4d00" data-color="#ffffff" data-hover-color="#ffffff" data-border-color="#ffffff" data-hover-border-color="#ff4d00"></i></a></div>
                            <div class="icon-shortcode align-none"><a href="#" class="icon-shortcode icon-circle  " data-animation="fadeIn"><i class="font-icon icon-social_linkedin tiny circle" style="border-style: solid; border-width: 0px; border-color: #ffffff; background-color: #464646; color: #ffffff;" data-animation="fadeIn" data-bg-color="#464646" data-hover-bg-color="#ff4d00" data-color="#ffffff" data-hover-color="#ffffff" data-border-color="#ffffff" data-hover-border-color="#ff4d00"></i></a></div>
                            <div class="icon-shortcode align-none"><a href="#" class="icon-shortcode icon-circle  " data-animation="fadeIn"><i class="font-icon icon-social_twitter tiny circle" style="border-style: solid; border-width: 0px; border-color: #ffffff; background-color: #464646; color: #ffffff;" data-animation="fadeIn" data-bg-color="#464646" data-hover-bg-color="#ff4d00" data-color="#ffffff" data-hover-color="#ffffff" data-border-color="#ffffff" data-hover-border-color="#ff4d00"></i></a></div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="loader page-loader">
            <div class="loader-style1-wrap">
                <div class="loader-style1-double-bounce1"></div>
                <div class="loader-style1-double-bounce2"></div>
            </div>
        </div>
        <a href="#" id="back-to-top" class="layout-wide"><i class="font-icon icon-arrow_carrot-up"></i></a> 
    </div>

    
    <input type="hidden" id="all_ajax_exclude_links" value="" />
    <script>
        var no_ajax_pages = [];
    </script>
    <script type='text/javascript' src='js/be-modules-plugin.js'></script>
    <script type='text/javascript' src='js/plugins.js'></script>
    <script type='text/javascript' src='js/script.js'></script>
    <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/be-modules-script.js'></script>
    <script type='text/javascript' src='js/frontend/add-to-cart.min.js'></script>
    <script type='text/javascript' src='js/jquery-blockui/jquery.blockUI.min.js'></script>
    <script type='text/javascript' src='js/frontend/woocommerce.min.js'></script>
    <script type='text/javascript' src='js/jquery-cookie/jquery.cookie.min.js'></script>
    <script type='text/javascript' src='js/frontend/cart-fragments.min.js'></script>
    <script type='text/javascript' src='js/woocommerce.js'></script>
    <script type='text/javascript' src='js/bb-press.js'></script>
    <script type='text/javascript' src='js/be-slider.js'></script>
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js'></script>
    <script type='text/javascript' src='js/gmap3.min.js'></script>
    <script type='text/javascript' src='js/jquery-ui-1.8.22.custom.min.js'></script>
    <script type='text/javascript' src='js/masterslider.min.js'></script>
    <script type='text/javascript' src='js/jquery.easing.min.js'></script>
    <script type='text/javascript' src='js/chosen/chosen.jquery.min.js'></script>
    <script type='text/javascript' src='js/frontend/chosen-frontend.min.js'></script>
    <script>
        (function($) {
            "use strict";

            $(function() {
                var masterslider_af9f = new MasterSlider();

                // slider controls

                // slider setup
                masterslider_af9f.setup("slider_7", {
                    width: 2000,
                    height: 600,
                    space: 0,
                    start: 1,
                    grabCursor: true,
                    swipe: true,
                    mouse: true,
                    layout: "fullwidth",
                    wheel: false,
                    autoplay: false,
                    instantStartLayers: false,
                    loop: false,
                    shuffle: false,
                    preload: 0,
                    heightLimit: true,
                    autoHeight: false,
                    smoothHeight: true,
                    endPause: false,
                    overPause: true,
                    fillMode: "fill",
                    centerControls: true,
                    layersMode: "center",
                    hideLayers: false,
                    fullscreenMargin: 0,
                    speed: 20,
                    dir: "h",
                    parallaxMode: 'swipe',
                    view: "basic"
                });



                $("head").append("<link rel='stylesheet' id='ms-fonts'  href='http://fonts.googleapis.com/css?family=Montserrat:700%7CRaleway:regular' type='text/css' media='all' />");

                window.masterslider_instances = window.masterslider_instances || {};
                window.masterslider_instances["1_af9f"] = masterslider_af9f;
            });

        })(jQuery);
    </script>

            

</body>
</html>