<% include partials/header %>

<div class="header-hero-section"></div>
            <div id="content" class="no-sidebar-page">
                <div id="content-wrap" class="page-builder">
                    <section id="page-content">
                        <div class="clearfix">
                            <div class="be-section clearfix" data-headerscheme="background--light" style="">
                                <div class="be-section-pad clearfix" style="padding-top:0px;padding-bottom:0px;">
                                    <div class="be-row ">
                                        <div class="one-col column-block clearfix" data-animation="" style="  ">
                                            <div class="be-custom-column-inner">
                                                <!-- MasterSlider -->
                                                <div id="P_slider_7" class="master-slider-parent ms-parent-id-1">


                                                    <!-- MasterSlider Main -->
                                                    <div id="slider_7" class="master-slider ms-skin-default">

                                                        <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                                            <img src="images/blank.gif" alt="" title="" data-src="upload/oshin-shop-v4-slide-1920x600.jpg" />

                                                            <a href="#" target="_blank" class="ms-layer ms-btn ms-btn-box ms-btn-n msp-preset-btn-163" data-ease="easeOutQuint" data-type="button" data-offset-x="374" data-offset-y="364" data-origin="tl">SHOP NOW</a>

                                                            <div class="ms-layer  msp-cn-1-8" style="width:400px;" data-ease="easeOutQuint" data-offset-x="374" data-offset-y="2" data-origin="ml">
                                                                <p>Our Latest Collections have been crafted by some of the best designers in the world.</p>
                                                            </div>

                                                            <div class="ms-layer  msp-cn-1-7" style="" data-effect="t(true,n,-500,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2000" data-ease="easeOutQuint" data-offset-x="370" data-offset-y="-88" data-origin="ml">
                                                                <p>WINTER 2014</p>
                                                            </div>


                                                        </div>
                                                        <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                                            <img src="images/blank.gif" alt="" title="" data-src="upload/oshin_shop_images-0011-new-1920x600.jpg" />

                                                            <a href="#" target="_blank" class="ms-layer ms-btn ms-btn-box ms-btn-n msp-preset-btn-162" data-ease="easeOutQuint" data-type="button" data-offset-x="1074" data-offset-y="364" data-origin="tl">SHOP NOW</a>

                                                            <div class="ms-layer  msp-cn-1-11" style="width:400px;" data-ease="easeOutQuint" data-offset-x="1074" data-offset-y="3" data-origin="ml">
                                                                <p>Our Latest Collections have been crafted by some of the best designers in the world.</p>
                                                            </div>

                                                            <div class="ms-layer  msp-cn-1-10" style="" data-effect="t(true,n,-500,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2000" data-ease="easeOutQuint" data-offset-x="464" data-offset-y="-88" data-origin="mr">
                                                                <p>SPRING 2015</p>
                                                            </div>


                                                        </div>
                                                        <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                                            <img src="images/blank.gif" alt="" title="" data-src="upload/oshin_shop_images-0023-new-1920x600.jpg" />

                                                            <a href="#" target="_blank" class="ms-layer ms-btn ms-btn-box ms-btn-n msp-preset-btn-159" data-ease="easeOutQuint" data-type="button" data-offset-x="374" data-offset-y="364" data-origin="tl">SHOP NOW</a>

                                                            <div class="ms-layer  msp-cn-1-4" style="width:400px;" data-ease="easeOutQuint" data-offset-x="374" data-offset-y="3" data-origin="ml">
                                                                <p>Our Latest Collections have been crafted by some of the best designers in the world.</p>
                                                            </div>

                                                            <div class="ms-layer  msp-cn-1-1" style="" data-effect="t(true,n,-500,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2000" data-ease="easeOutQuint" data-offset-x="370" data-offset-y="-88" data-origin="ml">
                                                                <p>SUMMER 2014</p>
                                                            </div>


                                                        </div>

                                                    </div>
                                                    <!-- END MasterSlider Main -->


                                                </div>
                                                <!-- END MasterSlider -->



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Slider -->
                            
                            <!-- Collection -->
                            <div class="be-section clearfix" data-headerscheme="background--light" style="">
                                <div class="be-section-pad clearfix" style="padding-top:90px;padding-bottom:0px;">
                                    <div class="be-row be-wrap clearfix">
                                        <div class="one-col column-block clearfix" data-animation="" style="  ">
                                            <div class="be-custom-column-inner">
                                                <div class="special-heading-wrap style1 0" data-animation="fadeIn">
                                                    <div class="special-heading align-center">
                                                        <h4 class="special-h-tag" style="color: ">New Collections this Season</h4>
                                                        <div class="sep-with-icon-wrap margin-bottom"><span class="sep-with-icon" style="background-color:#e8e8e8;border-color:#e8e8e8;color:#e8e8e8;height:2px;width:20px;"></span><i class="sep-icon font-icon icon-dimond" style="background-color:#ff4d00;"></i><span class="sep-with-icon" style="background-color:#e8e8e8;border-color:#e8e8e8;color:#e8e8e8;height:2px;width:20px;"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="be-row be-wrap clearfix">
                                        <div class="one-col column-block clearfix" data-animation="" style="  ">
                                            <div class="be-custom-column-inner">
                                                <div class="woocommerce columns-4">
                                                    <ul class="products">
                                                        <li class="product-category product first">


                                                            <a href="#">

                                                                <img src="upload/oshin_shop_images-0006-comp1-255x360.jpg" alt="Accessories" width="255" height="360" />
                                                                <h3>Accessories <mark class="count">(12)</mark>     </h3>


                                                            </a>


                                                        </li>
                                                        <li class="product-category product">


                                                            <a href="product-category/casuals.html">

                                                                <img src="upload/oshin_shop_images-0020-comp-255x360.jpg" alt="Casuals" width="255" height="360" />
                                                                <h3>Casuals <mark class="count">(26)</mark>     </h3>


                                                            </a>


                                                        </li>
                                                        <li class="product-category product">


                                                            <a href="product-category/men.html">

                                                                <img src="upload/oshin_shop_images-0009-comp-copy-255x360.jpg" alt="Men" width="255" height="360" />
                                                                <h3>Men <mark class="count">(13)</mark>     </h3>


                                                            </a>


                                                        </li>
                                                        <li class="product-category product last">


                                                            <a href="product-category/women.html">

                                                                <img src="upload/oshin_shop_images-0017-255x360.jpg" alt="Women" width="255" height="360" />
                                                                <h3>Women <mark class="count">(7)</mark>        </h3>


                                                            </a>


                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Collection -->

                            <!-- accesories -->
                            <div class="be-section clearfix" data-headerscheme="background--light" style="">
                                <div class="be-section-pad clearfix" style="padding-top:0px;padding-bottom:0px;">
                                    <div class="be-row be-wrap clearfix">
                                        <div class="one-col column-block clearfix" data-animation="" style="  ">
                                            <div class="be-custom-column-inner">
                                                <div class="special-heading-wrap style1 0" data-animation="fadeIn">
                                                    <div class="special-heading align-center">
                                                        <h4 class="special-h-tag" style="color: ">Accessories</h4>
                                                        <div class="sep-with-icon-wrap margin-bottom"><span class="sep-with-icon" style="background-color:#e8e8e8;border-color:#e8e8e8;color:#e8e8e8;height:2px;width:20px;"></span><i class="sep-icon font-icon icon-dimond" style="background-color:#ff4d00;"></i><span class="sep-with-icon" style="background-color:#e8e8e8;border-color:#e8e8e8;color:#e8e8e8;height:2px;width:20px;"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="be-row be-wrap clearfix">
                                        <div class="one-col column-block clearfix" data-animation="" style="  ">
                                            <div class="be-custom-column-inner">
                                                <div class="woocommerce columns-4">
                                                    <ul class="products">

                                                        <li class="first post-2747 product type-product status-publish has-post-thumbnail product_cat-accessories product_cat-casuals product_cat-footwear sale shipping-taxable purchasable product-type-simple product-cat-accessories product-cat-casuals product-cat-footwear instock">


                                                            <a href="#">

                                                            </a>
                                                            <div class="product-thumbnail-image-wrap">
                                                                <a href="#">
                                                                    <span class="onsale">Sale!</span>
                                                                    <img width="255" height="360" src="upload/oshin-shop-0025-255x360.jpg" class="attachment-shop_catalog wp-post-image" alt="oshin-shop-0025" /></a>
                                                            </div>
                                                            <div class="product-meta-data clearfix">
                                                                <a href="#">
                                                                    <h3>Yellow Fabric Shoe</h3>



                                                                    <span class="price"><del><span class="amount">&pound;39.00</span></del> <ins><span class="amount">&pound;20.00</span></ins></span>
                                                                </a>
                                                                <div class="button_ajax_wrapper clearfix">
                                                                    <a href="#" rel="nofollow" data-product_id="2747" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple"></a>
                                                                </div>
                                                                <a href="#">
                                                                </a>

                                                            </div>
                                                        </li>

                                                        <li class="post-2753 product type-product status-publish has-post-thumbnail product_cat-accessories product_cat-footwear shipping-taxable purchasable product-type-simple product-cat-accessories product-cat-footwear instock">


                                                            <a href="#">

                                                            </a>
                                                            <div class="product-thumbnail-image-wrap">
                                                                <a href="#"><img width="255" height="360" src="upload/oshin-shop-0010-255x360.jpg" class="attachment-shop_catalog wp-post-image" alt="oshin-shop-0010" /></a>
                                                            </div>
                                                            <div class="product-meta-data clearfix">
                                                                <a href="#">
                                                                    <h3>Leather Shoe</h3>



                                                                    <span class="price"><span class="amount">&pound;40.00</span></span>
                                                                </a>
                                                                <div class="button_ajax_wrapper clearfix">
                                                                    <a href="#" rel="nofollow" data-product_id="2753" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple"></a>
                                                                </div>
                                                                <a href="#">
                                                                </a>

                                                            </div>
                                                        </li>

                                                        <li class="post-2755 product type-product status-publish has-post-thumbnail product_cat-accessories product_cat-footwear shipping-taxable purchasable product-type-simple product-cat-accessories product-cat-footwear instock">


                                                            <a href="#">

                                                            </a>
                                                            <div class="product-thumbnail-image-wrap">
                                                                <a href="#"><img width="255" height="360" src="upload/oshin-shop-0009-255x360.jpg" class="attachment-shop_catalog wp-post-image" alt="oshin-shop-0009" /></a>
                                                            </div>
                                                            <div class="product-meta-data clearfix">
                                                                <a href="#">
                                                                    <h3>Dark Brown Leather</h3>



                                                                    <span class="price"><span class="amount">&pound;49.99</span></span>
                                                                </a>
                                                                <div class="button_ajax_wrapper clearfix">
                                                                    <a href="#" rel="nofollow" data-product_id="2755" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple"></a>
                                                                </div>
                                                                <a href="#">
                                                                </a>

                                                            </div>
                                                        </li>

                                                        <li class="last post-2749 product type-product status-publish has-post-thumbnail product_cat-accessories product_cat-footwear shipping-taxable purchasable product-type-simple product-cat-accessories product-cat-footwear instock">


                                                            <a href="#">

                                                            </a>
                                                            <div class="product-thumbnail-image-wrap">
                                                                <a href="#"><img width="255" height="360" src="upload/oshin-shop-0000-255x360.jpg" class="attachment-shop_catalog wp-post-image" alt="oshin-shop-0000" /></a>
                                                            </div>
                                                            <div class="product-meta-data clearfix">
                                                                <a href="#">
                                                                    <h3>Brown Leather Shoe</h3>



                                                                    <span class="price"><span class="amount">&pound;29.99</span></span>
                                                                </a>
                                                                <div class="button_ajax_wrapper clearfix">
                                                                    <a href="#" rel="nofollow" data-product_id="2749" data-product_sku="W004" data-quantity="1" class="button add_to_cart_button product_type_simple"></a>
                                                                </div>
                                                                <a href="#">
                                                                </a>

                                                            </div>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Men -->
                            <div class="be-section clearfix" data-headerscheme="background--light" style="">
                                <div class="be-section-pad clearfix" style="padding-top:0px;padding-bottom:0px;">

                                    <div class="be-row be-wrap clearfix">
                                        <div class="one-col column-block clearfix" data-animation="" style="  ">
                                            <div class="be-custom-column-inner">
                                                <div class="special-heading-wrap style1 0" data-animation="fadeIn">
                                                    <div class="special-heading align-center">
                                                        <h4 class="special-h-tag" style="color: ">Men</h4>
                                                        <div class="sep-with-icon-wrap margin-bottom"><span class="sep-with-icon" style="background-color:#e8e8e8;border-color:#e8e8e8;color:#e8e8e8;height:2px;width:20px;"></span><i class="sep-icon font-icon icon-dimond" style="background-color:#ff4d00;"></i><span class="sep-with-icon" style="background-color:#e8e8e8;border-color:#e8e8e8;color:#e8e8e8;height:2px;width:20px;"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="be-row be-wrap clearfix">
                                        <div class="one-col column-block clearfix" data-animation="" style="  ">
                                            <div class="be-custom-column-inner">
                                                <div class="woocommerce columns-4">
                                                    <ul class="products">

                                                        <li class="first post-2805 product type-product status-publish has-post-thumbnail product_cat-casuals product_cat-men sale featured shipping-taxable purchasable product-type-simple product-cat-casuals product-cat-men instock">


                                                            <a href="#">

                                                            </a>
                                                            <div class="product-thumbnail-image-wrap">
                                                                <a href="#">
                                                                    <span class="onsale">Sale!</span>
                                                                    <img width="255" height="360" src="upload/oshin_shop_images-0019-comp-255x360.jpg" class="attachment-shop_catalog wp-post-image" alt="oshin_shop_images-0019-comp" /></a>
                                                            </div>
                                                            <div class="product-meta-data clearfix">
                                                                <a href="#">
                                                                    <h3>Stylish Black Jacket</h3>


                                                                    <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span></div>
                                                                    <span class="price"><del><span class="amount">&pound;49.99</span></del> <ins><span class="amount">&pound;29.99</span></ins></span>
                                                                </a>
                                                                <div class="button_ajax_wrapper clearfix">
                                                                    <a href="#" rel="nofollow" data-product_id="2805" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple"></a>
                                                                </div>
                                                                <a href="#">
                                                                </a>

                                                            </div>
                                                        </li>

                                                        <li class="post-2768 product type-product status-publish has-post-thumbnail product_cat-casuals product_cat-men shipping-taxable purchasable product-type-simple product-cat-casuals product-cat-men instock">


                                                            <a href="#">

                                                            </a>
                                                            <div class="product-thumbnail-image-wrap">
                                                                <a href="#"><img width="255" height="360" src="upload/shutterstock_104129570-255x360.jpg" class="attachment-shop_catalog wp-post-image" alt="shutterstock_104129570" /></a>
                                                            </div>
                                                            <div class="product-meta-data clearfix">
                                                                <a href="#">
                                                                    <h3>Striped t-shirt</h3>



                                                                    <span class="price"><span class="amount">&pound;29.99</span></span>
                                                                </a>
                                                                <div class="button_ajax_wrapper clearfix">
                                                                    <a href="#" rel="nofollow" data-product_id="2768" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple"></a>
                                                                </div>
                                                                <a href="#">
                                                                </a>

                                                            </div>
                                                        </li>

                                                        <li class="post-2773 product type-product status-publish has-post-thumbnail product_cat-casuals product_cat-men shipping-taxable purchasable product-type-simple product-cat-casuals product-cat-men instock">


                                                            <a href="#">

                                                            </a>
                                                            <div class="product-thumbnail-image-wrap">
                                                                <a href="#"><img width="255" height="360" src="upload/shutterstock_143894854-255x360.jpg" class="attachment-shop_catalog wp-post-image" alt="shutterstock_143894854" /></a>
                                                            </div>
                                                            <div class="product-meta-data clearfix">
                                                                <a href="#">
                                                                    <h3>Red Cotton Pants</h3>



                                                                    <span class="price"><span class="amount">&pound;34.99</span></span>
                                                                </a>
                                                                <div class="button_ajax_wrapper clearfix">
                                                                    <a href="#" rel="nofollow" data-product_id="2773" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple"></a>
                                                                </div>
                                                                <a href="#">
                                                                </a>

                                                            </div>
                                                        </li>

                                                        <li class="last post-2776 product type-product status-publish has-post-thumbnail product_cat-casuals product_cat-men featured shipping-taxable purchasable product-type-simple product-cat-casuals product-cat-men instock">


                                                            <a href="#">

                                                            </a>
                                                            <div class="product-thumbnail-image-wrap">
                                                                <a href="#"><img width="255" height="360" src="upload/oshin_shop_images-0015-comp-255x360.jpg" class="attachment-shop_catalog wp-post-image" alt="oshin_shop_images-0015-comp" /></a>
                                                            </div>
                                                            <div class="product-meta-data clearfix">
                                                                <a href="#">
                                                                    <h3>Pink Cotton Shirt</h3>



                                                                    <span class="price"><span class="amount">&pound;24.99</span></span>
                                                                </a>
                                                                <div class="button_ajax_wrapper clearfix">
                                                                    <a href="#" rel="nofollow" data-product_id="2776" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple"></a>
                                                                </div>
                                                                <a href="#">
                                                                </a>

                                                            </div>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Women -->
                            <div class="be-section clearfix" data-headerscheme="background--light" style="">
                                <div class="be-section-pad clearfix" style="padding-top:0px;padding-bottom:0px;">
                                    <div class="be-row be-wrap clearfix">
                                        <div class="one-col column-block clearfix" data-animation="" style="  ">
                                            <div class="be-custom-column-inner">
                                                <div class="special-heading-wrap style1 0" data-animation="fadeIn">
                                                    <div class="special-heading align-center">
                                                        <h4 class="special-h-tag" style="color: ">Women</h4>
                                                        <div class="sep-with-icon-wrap margin-bottom"><span class="sep-with-icon" style="background-color:#e8e8e8;border-color:#e8e8e8;color:#e8e8e8;height:2px;width:20px;"></span><i class="sep-icon font-icon icon-dimond" style="background-color:#ff4d00;"></i><span class="sep-with-icon" style="background-color:#e8e8e8;border-color:#e8e8e8;color:#e8e8e8;height:2px;width:20px;"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="be-row be-wrap clearfix">
                                        <div class="one-col column-block clearfix" data-animation="" style="  ">
                                            <div class="be-custom-column-inner">
                                                <div class="woocommerce columns-4">
                                                    <ul class="products">

                                                        <li class="first post-1459 product type-product status-publish has-post-thumbnail product_cat-casuals product_cat-women sale shipping-taxable purchasable product-type-simple product-cat-casuals product-cat-women instock">


                                                            <a href="#">

                                                            </a>
                                                            <div class="product-thumbnail-image-wrap">
                                                                <a href="#">
                                                                    <span class="onsale">Sale!</span>
                                                                    <img width="255" height="360" src="upload/oshin_shop_images-0012-255x360.jpg" class="attachment-shop_catalog wp-post-image" alt="oshin_shop_images-0012" /></a>
                                                            </div>
                                                            <div class="product-meta-data clearfix">
                                                                <a href="#">
                                                                    <h3>Red Knitted Top</h3>



                                                                    <span class="price"><del><span class="amount">&pound;59.99</span></del> <ins><span class="amount">&pound;30.99</span></ins></span>
                                                                </a>
                                                                <div class="button_ajax_wrapper clearfix">
                                                                    <a href="#" rel="nofollow" data-product_id="1459" data-product_sku="W008" data-quantity="1" class="button add_to_cart_button product_type_simple"></a>
                                                                </div>
                                                                <a href="#">
                                                                </a>

                                                            </div>
                                                        </li>

                                                        <li class="post-1457 product type-product status-publish has-post-thumbnail product_cat-casuals product_cat-women shipping-taxable purchasable product-type-simple product-cat-casuals product-cat-women instock">


                                                            <a href="#">

                                                            </a>
                                                            <div class="product-thumbnail-image-wrap">
                                                                <a href="#"><img width="255" height="360" src="upload/oshin_shop_images-0013-255x360.jpg" class="attachment-shop_catalog wp-post-image" alt="oshin_shop_images-0013" /></a>
                                                            </div>
                                                            <div class="product-meta-data clearfix">
                                                                <a href="#">
                                                                    <h3>Pink Short Sweater</h3>



                                                                    <span class="price"><span class="amount">&pound;26.99</span></span>
                                                                </a>
                                                                <div class="button_ajax_wrapper clearfix">
                                                                    <a href="#" rel="nofollow" data-product_id="1457" data-product_sku="W007" data-quantity="1" class="button add_to_cart_button product_type_simple"></a>
                                                                </div>
                                                                <a href="#">
                                                                </a>

                                                            </div>
                                                        </li>

                                                        <li class="post-1447 product type-product status-publish has-post-thumbnail product_cat-casuals product_cat-women shipping-taxable purchasable product-type-simple product-cat-casuals product-cat-women instock">


                                                            <a href="#">

                                                            </a>
                                                            <div class="product-thumbnail-image-wrap">
                                                                <a href="#"><img width="255" height="360" src="upload/oshin_shop_images-0010-255x360.jpg" class="attachment-shop_catalog wp-post-image" alt="oshin_shop_images-0010" /></a>
                                                            </div>
                                                            <div class="product-meta-data clearfix">
                                                                <a href="#">
                                                                    <h3>Grey Overcoat</h3>



                                                                    <span class="price"><span class="amount">&pound;29.99</span></span>
                                                                </a>
                                                                <div class="button_ajax_wrapper clearfix">
                                                                    <a href="#" rel="nofollow" data-product_id="1447" data-product_sku="W004" data-quantity="1" class="button add_to_cart_button product_type_simple"></a>
                                                                </div>
                                                                <a href="#">
                                                                </a>

                                                            </div>
                                                        </li>

                                                        <li class="last post-1449 product type-product status-publish has-post-thumbnail product_cat-casuals product_cat-women shipping-taxable purchasable product-type-simple product-cat-casuals product-cat-women instock">


                                                            <a href="#">

                                                            </a>
                                                            <div class="product-thumbnail-image-wrap">
                                                                <a href="#"><img width="255" height="360" src="upload/oshin_shop_images-0007-255x360.jpg" class="attachment-shop_catalog wp-post-image" alt="oshin_shop_images-0007" /></a>
                                                            </div>
                                                            <div class="product-meta-data clearfix">
                                                                <a href="#">
                                                                    <h3>Creme Lace Top</h3>



                                                                    <span class="price"><span class="amount">&pound;19.99</span></span>
                                                                </a>
                                                                <div class="button_ajax_wrapper clearfix">
                                                                    <a href="#" rel="nofollow" data-product_id="1449" data-product_sku="W005" data-quantity="1" class="button add_to_cart_button product_type_simple"></a>
                                                                </div>
                                                                <a href="#">
                                                                </a>

                                                            </div>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- parallax -->
                            <div class="be-section be-bg-cover be-bg-parallax be-bg-overlay    clearfix" data-headerscheme="background--light" style="background: url(upload/oshin-shop-0001.jpg) no-repeat fixed center center;">
                                <div class="be-section-pad clearfix" style="padding-top:150px;padding-bottom:150px;">
                                    <div class="section-overlay" style="background: #141414; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;"></div>
                                    <div class="be-row ">
                                        <div class="one-col column-block clearfix" data-animation="" style="  ">
                                            <div class="be-custom-column-inner">
                                                <div class="special-heading-wrap style1 0" data-animation="fadeIn">
                                                    <div class="special-heading align-center">
                                                        <h2 class="special-h-tag" style="color: #ffffff">Watch our designers at work</h2></div>
                                                </div>
                                                <div class="linebreak " style="height:30px;"></div>
                                                <div class="icon-shortcode align-center"><a href="http://vimeo.com/103246289" class="icon-shortcode icon-circle  mfp-iframe image-popup-vertical-fit" data-animation="fadeIn"><i class="font-icon icon-arrow_carrot-right medium circle" style="border-style: solid; border-width: px; border-color: transparent; background-color: #000000; color: #ffffff;" data-animation="fadeIn" data-bg-color="#000000" data-hover-bg-color="#ff4d00" data-color="#ffffff" data-hover-color="#ffffff" data-border-color="transparent" data-hover-border-color="transparent"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  End Page Content -->
                    </section>
                </div>
            </div>
            
<% include partials/footer %>