<% include partials/header %>
<style>
  .icon-shortcode {
    margin-bottom: 15px;
}
.icon-shortcode .font-icon.tiny.diamond{
    margin: 9px !important;
}
.icon-shortcode .font-icon.small.diamond{
    margin: 11px !important;
}
.icon-shortcode .font-icon.medium.diamond{
    margin: 17px !important;
}
.icon-shortcode .font-icon.large.diamond{
    margin: 22px !important;
}
.icon-shortcode .font-icon.xlarge.diamond{
    margin: 27px !important;
}
a.icon-shortcode.icon-plain{
    display: inline-block;
}
</style>
    <div class="site-blocks-cover" data-aos="fade" style="background-image: url('https://www.ontaheen.com/wp-content/uploads/2019/03/happy-holi-festival.jpg') no-repeat;">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">Latest Arrivals</h2>
            <h1>Arts &amp; Crafts</h1>
            <p><a href="#" class="btn btn-black rounded-0">Shop Now</a></p>
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            <!--<img src="/assets/images/model_3.png" alt="Image" class="img-fluid">-->
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="title-section mb-5">
          <h2 id="collections" class="text-uppercase"><span class="d-block">Discover</span> The Collections</h2>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-4">
            <div class="product-item sm-height mb-4">
              <a href="#" class="product-category">Sarees<span>(25)</span></a>
              <img src="https://5.imimg.com/data5/TS/OX/MY-10611839/pochampally-silk-by-cotton-sarees-500x500.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height mb-4">
              <a href="#" class="product-category">Jewellery <span>(25)</span></a>
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/M/u/Mustaani_Jewellery_11_.jpg" alt="Image" class="img-fluid" style="max-width:100%">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height mb-4">
              <a href="#" class="product-category">Paintings <span>(25)</span></a>
              <img src="https://www.craftsbazaar.com/media/jssor/img/painting/Traditional-4.jpg" alt="Image" class="img-fluid" style="max-width:100%">
            </div>
          </div>
          
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-4">
            <div class="product-item sm-height mb-4">
              <a href="#" class="product-category">Tea Set<span>(25)</span></a>
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/O/n/One_kettle_and_4_cup_with_plate__2200_craftsbazaar.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height mb-4">
              <a href="#" class="product-category">Shawls <span>(25)</span></a>
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/S/h/Shawls_47_3.jpg" alt="Image" class="img-fluid" style="max-width:100%">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height mb-4">
              <a href="#" class="product-category" style="width: 58%;">Home &amp; Living<span>(25)</span></a>
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/K/a/Kauna_grass_Shopping_bags_2.jpg" alt="Image" class="img-fluid" style="max-width:100%">
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section mb-5 col-12">
            <h2 class="text-uppercase">Popular Products</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height d-block">
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/M/S/MSS22_3.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Mustard Colored Paithani</a></h2>
            <strong class="item-price">₹2000.00</strong>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height d-block">
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/J/e/Jewellery_9_3_1.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Tribal Red Matrix</a></h2>
            <strong class="item-price"><del>₹4600</del> ₹2800</strong>
          </div>

          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height d-block">
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/L/o/Lord_Ganapati_-_III_ART_2874_28878_-_Handpainted_Art_Painting_-_20in_X_30in.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Lord Ganapati</a></h2>
            <strong class="item-price"><del>₹4600</del> ₹2800</strong>

            <div class="star-rating">
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
            </div>

          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height d-block">
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/C/u/Cutlery_162_1.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Jaipur Blue Pottery</a></h2>
            <strong class="item-price"><del>₹4600</del> ₹2800</strong>
            <div class="star-rating">
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height d-block">
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/Y/e/Yellow_Pashmina_with_Sozini_1_.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Farheen</a></h2>
            <strong class="item-price"><del>₹4600</del> ₹2800</strong>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height d-block">
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/l/a/lamb_12_.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Celestial Cone</a></h2>
            <strong class="item-price">₹5800</strong>
          </div>

        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center mb-5 col-12">
            <h2 class="text-uppercase">Most Rated</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3">
            <div class="nonloop-block-3 owl-carousel">
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height d-block">
                    <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/K/a/Kalamkari_Sarees_craftsbazaar_16_.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Inchara Green Cotton Kalamkari Saree</a></h2>
                  <strong class="item-price"><del>₹4600</del> ₹2800</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height d-block">
                    <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/J/e/Jewellery_407_1.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Vibha</a></h2>
                  <strong class="item-price"><del>₹4600</del> ₹2800</strong>

                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height d-block">
                    <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/G/r/GreatBuddha_Handpainted_Art_Painting.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Great Buddha</a></h2>
                  <strong class="item-price"><del>₹4600</del> ₹2800</strong>

                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>

                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height d-block">
                    <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/W/o/Wood_Tamilnadu_22__1.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Yali Pair</a></h2>
                  <strong class="item-price"><del>₹46000</del> ₹35000</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height d-block">
                    <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/A/n/An_extravagantly_handcrafted_yellow_Shawl_2_.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Wild Orchid</a></h2>
                  <strong class="item-price">₹5800</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-blocks-cover inner-page py-5" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">Watch ARTISANS at work</h2>
            <p><a href="#" class="btn btn-black rounded-0">Play</a></p>
            </div>
          </div>
          <div class="icon-shortcode align-center">
            <a href="http://vimeo.com/103246289" class="icon-shortcode icon-circle  mfp-iframe image-popup-vertical-fit" data-animation="fadeIn">
              <i class="font-icon icon-arrow_carrot-right medium circle" style="border-style: solid; border-width: px; border-color: transparent; background-color: #000000; color: #ffffff;" data-animation="fadeIn" data-bg-color="#000000" data-hover-bg-color="#ff4d00" data-color="#ffffff" data-hover-color="#ffffff" data-border-color="transparent" data-hover-border-color="transparent"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <% include partials/footer %>